= content_for :title do
  Find tickets for events by performers


.breadcrumbs
  %ul
    %li
      %a{href: '#'} home
    %li
      %a.current{href: '/search/event_groups'} artists

= render 'event_groups/units/genre_select', genre: @genre, subcategory: @subcategory
= render 'event_groups/units/subcategory_select', genre: @genre, subcategory: @subcategory
= render 'event_groups/units/alphabet_select'

#event-groups-list
  #container<>
    = render 'event_groups/units/event_groups_set', event_groups: @event_groups
  #spinner{style: 'display: none'}
    %img{src: '/assets/spinner.gif'}


:coffeescript
  $ -> $("#event-groups-list").endlessPage
    query: "#{{symbol: (params[:symbol] if params[:symbol]), scope: (params[:scope] if params[:scope])}.to_query }"
    request_path: "#{request.path}"