.breadcrumbs
  %ul
    %li
      %a{href: '#'} home
    %li
      %a.current{href: '/search/event_groups'} artists

= render 'event_groups/units/genre_select', genre: @genre, category: @category
= render 'event_groups/units/category_select', genre: @genre, category: @category
= render 'event_groups/units/alphabet_select'

#event-groups-list
  #container<>
    = render 'event_groups/units/event_groups_set', event_groups: @event_groups
  #spinner{style: 'display: none'}
    %img{src: '/assets/spinner.gif'}


:coffeescript
  $ -> $("#event-groups-list").endlessPage
    query: "#{{symbol: params[:symbol]}.to_query if params[:symbol]}"
    request_path: "#{request.path}"