= content_for :title do
  Buy the cheapest tickets on #{@event_group.sw_name}
  
= content_for :description do
  The page where you can easily get cheap tickets online for #{@event_group.sw_name}

= content_for :keywords do
  #{@event_group.sw_name}, tickets on #{@event_group.sw_name}, buy tickets, online tickets, get tickets, tickets and prices, prices on tickets, online tickets for.

.billboard<>
  .inner
    %img{src: @event_group.avatar_url}<>
    %div<>
      %h4= @event_group.sw_name
      %p
        %span= @event_group.genre.sw_name
        %span= @event_group.category.sw_name
      - if person_signed_in?
        .right
          %a{href: edit_event_group_url(@event_group)} edit
      
%p.description<>= @event_group.description



= render 'events/units/past_upcoming_control'

= render 'events/units/events_list', events: @events