.row
  .large-4.columns
    %img{src: @event_group.sw_image_url}
  .large-8.columns
    %h3
      = @event_group.sw_name
%br
.row
  .large-12
    %table
      %thead
        %tr
          %th Date
          %th Time
          %th Country
          %th Town
          %th Venue
          %th Price from

      %tbody
        - @event_group.events.each do |event|
          %tr
            %td= event.sw_date.strftime('%-d/%-m/%y')
            %td= event.sw_date.strftime('%k:%M')
            %td= event.sw_country
            %td= event.sw_town
            %td= event.sw_venue_id
            %td= event.sw_min_price