%menu#categories
  - if genre
    %ul
      %li
        %a{class: class_if('active', !category), href: genre_event_groups_path(genre)}
          = "All (#{genre.event_groups.count})"
      - genre.categories.each do |selected_category|
        - category_events_count = selected_category.event_groups.count
        - if category_events_count > 0
          %li
            %a{class: class_if('active', category == selected_category), href: genre_category_event_groups_path(genre, selected_category)}
              = "#{selected_category.sw_name} (#{category_events_count})"
