// Promt about a city
.panel#city-prompt-panel{style: 'display: none'}
  - if city
    %a.tiny.button.round#close-panel{href: '#', style: 'float:right'}
      %big ×
  .row#city-prompt
    .large-12.columns
      %h4
        - if city
          = raw "You're in #{city.full_name}?&nbsp&nbsp"
          %a.round.button.tiny#yes-button{href: '#'} Yes
          %a.button.round.tiny#no-button{href: '#'} No
        - else
          - if request_location
            = raw "<i>#{request_location.city}, #{request_location.country}</i>? Sorry, but there are no events for this place, yet!"
          - else
            We are unable to identify your location, please select it manually
          %a.button.round.tiny#no-button{href: '#'} Select different

  // City selector
  .row#city-selector{style: 'display: none'}
    .large-3.columns
      %h4 Find your city
    .large-9.columns
      %h4
        %input{id: 'search-input', type: :text, placeholder: 'Just start typing...'}

  // Or chouse from nearbys
  - if city || request_location
    .row#nearby-cities{style: 'display: none'}
      .large-12.columns.cities-links
        %h4 Or chouse from nearby cities
        = raw nearby_cities.map{|c| "<a href=\"/cities/#{c.id}/events\">#{c.full_name}</a>"}.join(' ')

  // Cities list for filtering    
  .row#cities-list{style: 'display: none'}
    .large-12.columns.cities-links
      = raw City.only(:id, :full_name).map{|c| "<a href=\"/cities/#{c.id}/events\">#{c.full_name}</a>"}.join(' ')
      

:coffeescript
  $ -> $('#city-prompt-panel').cityPrompt().cityPrompt(#{"'show'" if (!city && !@event && !@venue && !@event_group)})