= content_for :title, "#{@event.event_group.sw_name} @ #{@event.venue.sw_name}"

= render 'events/units/breadcrumbs', event: @event

= form_for @event, html: {class: 'cool  '} do |f|
  %fieldset<>
    .legend<>= "Edit Event #{@event.event_group.sw_name}"
    .input-holder<>
      = f.label :description
      = f.text_area :description, style: 'resize: vertical'
    
    .controls<>
      = f.submit 'Save', class: 'active'
      %a{href: event_path(@event)} Cancel