= content_for :title, "TownEnt #{@genre.sw_name if @genre} #{@category.sw_name if @category} in #{current_city.name}, #{current_city.country.name}"

.row
  .large-12
    %ul.button-group.round
      %li
        %a.button.secondary{href: events_path, class: class_if('disabled', !@genre)} All
      - Genre.each do |genre|
        %li
          %a.button.secondary{href: genre_events_path(genre), class: class_if('disabled', @genre == genre)}= genre.sw_name

    - if @genre
      %dl.sub-nav
        %dt Category:
        
        %dd{class: class_if('active', !@category)}
          %a{href: genre_events_path(@genre)}= "All (#{@genre.events.for_city(current_city).count})"
        
        - @genre.categories.each do |category|
          - category_events_count = category.events.for_city(current_city).count
          - if category_events_count > 0
            %dd{class: class_if('active', @category == category)}
              %a{href: genre_category_events_path(@genre, category)}= "#{category.sw_name} (#{category_events_count})"



= form_for :q, url: request.path, method: :get do |f|
  .row
    .small-1.columns.push-1
      = f.label :date_from, 'From:', class: 'right inline'
    .small-2.columns
      = f.text_field :date_from, class: 'datepicker', value: query_date_from
      
    .small-1.columns
      = f.label :date_to, 'To:', class: 'right inline'
    .small-2.columns
      = f.text_field :date_to, class: 'datepicker', value: query_date_to
      
    .small-6.columns
      = f.submit 'Go', class: 'button round small'
      %a.button.round.small{href: request.path} All dates
    :javascript
      $('.datepicker').datepicker({dateFormat: 'd MM yy'});
        

.row
  .large-12
    - previous_event_date = nil
    - @events.each do |event|
      - unless event.sw_date.to_date == previous_event_date
        %h3= event.sw_date.strftime('%-d %B %Y')
      - previous_event_date = event.sw_date.to_date
      = render 'events/units/event', event: event
