= content_for :title, "TownEnt #{@genre.sw_name if @genre} #{@category.sw_name if @category} in #{current_city.name}, #{current_city.country.name}"

.row
  .large-12
    %ul.button-group.round
      %li
        %a.button.secondary{href: city_events_path(@city), class: class_if('disabled', !@genre)} All
      - Genre.each do |genre|
        %li
          %a.button.secondary{href: city_genre_events_path(@city,genre), class: class_if('disabled', @genre == genre)}= genre.sw_name

    - if @genre
      %dl.sub-nav
        %dt Category:
        
        %dd{class: class_if('active', !@category)}
          %a{href: city_genre_events_path(@city, @genre)}= "All (#{@genre.events.for_city(current_city).count})"
        
        - @genre.categories.each do |category|
          - category_events_count = category.events.for_city(@city).count
          - if category_events_count > 0
            %dd{class: class_if('active', @category == category)}
              %a{href: city_genre_category_events_path(@city, @genre, category)}= "#{category.sw_name} (#{category_events_count})"



= form_for :q, url: request.path, method: :get do |f|
  .row
    .large-4.columns
      %ul.button-group.round
        %li
          %a.button.small{class: class_if('disabled', query_scope == 'all'), href: url_for(q: {scope: 'all'})} All dates
        %li
          %a.button.small{class: class_if('disabled', query_scope == 'weekend'), href: url_for(q: {scope: 'weekend'})} Weekend
        %li
          %a.button.small#dates-trigger{href: '#', class: class_if('disabled', query_scope == nil)} Specify dates
  .row#dates-inputs{style: ('display: none' if query_scope != nil)}
    .small-1.columns
      = f.label :date_from, 'From:', class: 'right inline'
    .small-2.columns
      = f.text_field :date_from, class: 'datepicker', value: query_date_from

    .small-1.columns
      = f.label :date_to, 'To:', class: 'right inline'
    .small-2.columns
      = f.text_field :date_to, class: 'datepicker', value: query_date_to
  
    .small-1.columns
      = f.submit 'Go', class: 'button round small secondary'
      
    :javascript
      $('.datepicker').datepicker({dateFormat: 'd MM yy'});
      $('#dates-trigger').click(function(event){
        event.preventDefault();
        $('.disabled', $(this).parents('ul')).removeClass('disabled');
        $(this).addClass('disabled');
        $('#dates-inputs').show();
      });
        

= render 'events/units/events_list', events: @events