= content_for :title, "#{@event.event_group.sw_name} @ #{@event.venue.sw_name}"

= render 'events/units/breadcrumbs', event: @event

.billboard<>
  .inner
    %img{src: @event.event_group.sw_image_url}<>
    %div<>
      %h4= @event.event_group.sw_name
      - if person_signed_in?
        .right
          %a{href: edit_event_url(@event)} edit
      %h6
        %a{href: venue_path(@event.venue)}= @event.venue.sw_name
        %a{href: city_events_path(@event.city)}= @event.city.full_name
      %h5= @event.sw_date.strftime('%a, %-d %b %Y at %I:%M %P')
      %a{href: event_group_url(@event.event_group)}= @event.event_group.sw_name

%p.description<>= @event.description
    

.information<>
  %h3<>
    Buy tickets for
    = @event.event_group.sw_name
    %small
      %span= @event.sw_ticket_count
      ticket(s) avaiable
      
  .tickets
    %table#tickets<>
      %thead
        %tr
          %th Block
          %th Row
          %th Qty
          %th Price
          %th 
      %tbody#tickets-entries
        %tr<>
          %td{colspan: 5}
            #spinner
              %img{src: '/assets/spinner.gif'}
        %tr
          %td{colspan: 5}
            .notificator
              %h3 There are no tickets
            
  .seatmap<>
    %h4
      %a{href: venue_path(@event.venue)}= @event.venue.sw_name
    - if @event.layout.sw_seat_map_url
      %img{src: @event.layout.sw_seat_map_url}
    - else
      .notificator
        %h3 There is no seatmap
      
  .map<>
    %h4
      %b Adress:
      = @event.venue.sw_address.values.join ', '
    :coffeescript
      $ -> $('#map-canvas').gmap
        lat: #{@event.location[1]}
        lng: #{@event.location[0]}
    #map-canvas




:coffeescript
  $ ->
    getJSONP = (url) ->
      $.ajax
        dataType: "jsonp"
        url: url
        cache: true
    ticket_groups_url = "#{SeatWave.base_uri}event/#{@event.id}/ticketgroups?apikey=#{SeatWave.api_key}&pgnumber=1&siteid=#{SeatWave.site_id}&pgsize=1000&callback=?"
    getJSONP(ticket_groups_url).done (webResponse) ->
      $.each webResponse.TicketGroups, ->
        $("#tickets-entries").append $("<tr><td>" + @Block + "</td><td>" + @Row + "</td><td>" + @Qty + "</td><td>" + @Price + " " + @Currency + "</td><td><a class=\"button small expand round\" href=\"" + @SwURL + "\">Buy</a></td></tr>")
      $("#tickets-entries .notificator").hide() if webResponse.TicketGroups.length > 0
      $("#spinner").parent('td').parent('tr').hide()
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      