= content_for :title, "#{@event.event_group.sw_name} @ #{@event.venue.sw_name}"

= render 'events/units/breadcrumbs', event: @event

.row
  .large-4.columns
    %img{src: @event.event_group.sw_image_url}
  .large-7.columns
    %h3
      = @event.event_group.sw_name
    %dl
      %dd= @event.sw_date.strftime('%a, %-d %b %Y at %I:%M %P')
      %dd
        %a{href: venue_url(@event.venue)}= @event.venue.sw_name 
      %dd
        %a{href: event_group_url(@event.event_group)}= @event.event_group.sw_name
      
    
    
    %p= @event.description
  .large-1.columns
    %a.button.small.expand.round{href: edit_event_url(@event)} edit

.row
  %hr
  .large-6.columns
    %h4
      Tickets
      %center#spinner
        %img{src: '/assets/spinner.gif'}
    %table.large-12#tickets{style: 'display: none'}
      %thead
        %tr
          %th Block
          %th Row
          %th Qty
          %th Price
          %th 
      %tbody#tickets-entries
  .large-6.columns
    %h4 Layout
    - if @event.layout.sw_seat_map_url
      %img{src: @event.layout.sw_seat_map_url}
    - else
      %p There are no seatmap avaiable!
    %h4 Map
    - lng, lat = @event.location
    - options = {center: "#{lat},#{lng}", zoom: 13, size: '470x355', markers: "color:blue|#{lat},#{lng}", sensor: false}
    %img{src: "http://maps.googleapis.com/maps/api/staticmap?#{options.to_query}"}


:coffeescript
  $ ->
    getJSONP = (url) ->
      $.ajax
        dataType: "jsonp"
        url: url
        cache: true
    
    event_url = "#{SeatWave.base_uri}event/#{@event.id}?apikey=#{SeatWave.api_key}"
    ticket_groups_url = "#{SeatWave.base_uri}event/#{@event.id}/ticketgroups?apikey=#{SeatWave.api_key}&pgnumber=1&siteid=#{SeatWave.site_id}&pgsize=1000&callback=?"
    
    getJSONP(ticket_groups_url).done (webResponse) ->
      $.each webResponse.TicketGroups, ->
        $("#tickets-entries").append $("<tr><td>" + @Block + "</td><td>" + @Row + "</td><td>" + @Qty + "</td><td>" + @Price + " " + @Currency + "</td><td><a class=\"button small expand round\" href=\"" + @SwURL + "\">Select</a></td></tr>")
      $("#tickets").show() if webResponse.TicketGroups.length > 0
      $("#spinner").hide()
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      