- sample_event = @venue.events.sample

= content_for :title, "#{@venue.sw_name} @ #{sample_event.city.name}, #{sample_event.country.name}"

= render 'venues/units/breadcrumbs', venue: @venue, sample_event: sample_event

= form_for @venue, html: {class: 'cool'} do |f|
  %fieldset<>
    .legend<>= "Edit Venue #{@venue.sw_name}"
    .input-holder<>
      = f.label :description
      = f.text_area :description
    .controls<>
      = f.submit 'Save', class: 'active'
      %a{href: venue_path(@venue)} Cancel