- sample_event = @venue.events.sample

= content_for :title, "#{@venue.sw_name} @ #{sample_event.city.name}, #{sample_event.country.name}"

.venue<>
  %h4= @venue.sw_name
  .right
    %a{href: edit_venue_url(@venue)} edit
  %p<>= @venue.description
  
.information
  .map<>
    %h4
      %b Adress:
      = @venue.sw_address.values.join(', ')
    - lng, lat = @venue.location
    - options = {center: "#{lat},#{lng}", zoom: 13, size: '640x160', markers: "color:blue|#{lat},#{lng}", sensor: false}
    %img{src: "http://maps.googleapis.com/maps/api/staticmap?#{options.to_query}"}

= render 'events/units/past_upcoming_control'
= render 'events/units/events_list', events: @events