- sample_event = @venue.events.sample

= content_for :title, "#{@venue.sw_name} @ #{sample_event.city.name}, #{sample_event.country.name}"

.venue<>
  %h4= @venue.sw_name
  - if person_signed_in?
    .right
      %a{href: edit_venue_url(@venue)} edit
  %p<>= @venue.description
  
.information
  .map<>
    %h4
      %b Adress:
      = @venue.sw_address.values.join(', ')
    :coffeescript
      $ -> $('#map-canvas').gmap
        lat: #{@venue.location[1]}
        lng: #{@venue.location[0]}
    #map-canvas

= render 'events/units/past_upcoming_control'
= render 'events/units/events_list', events: @events