- sample_event = @venue.events.sample

= content_for :title, "#{@venue.sw_name} @ #{sample_event.city.name}, #{sample_event.country.name}"

= render 'venues/units/breadcrumbs', venue: @venue, sample_event: sample_event


- ##Billboard
.row
  .large-11.columns
    %h3= @venue.sw_name
    %p= @venue.sw_address.values.join(', ')
    %p= @venue.description
  .large-1.columns
    %a.button.small.expand.round{href: edit_venue_url(@venue)} edit

  
= render 'events/units/past_upcoming_control'
= render 'events/units/events_list', events: @events