- sample_event = @venue.events.sample

= content_for :title, "#{@venue.sw_name} @ #{sample_event.city.name}, #{sample_event.country.name}"

= render 'venues/units/breadcrumbs', venue: @venue, sample_event: sample_event


- ##Billboard
.row
  .large-4.columns
    %img{src: @venue.sw_image_url}
  .large-7.columns
    %h3= @venue.sw_name
    %p= @venue.description
  .large-1.columns
    %a.button.small.expand.round{href: edit_venue_url(@venue)} edit

  
- ##Events list controls
.row
  .large-12
    %hr
    %ul.button-group.round
      %li
        %a.button{href: url_for(scope: 'upcoming'), class: class_if('disabled', scope == 'upcoming')} Upcoming
      %li
        %a.button{href: url_for(scope: 'past'), class: class_if('disabled', scope == 'past')} Past


= render 'events/units/events_list', events: @events