.row
  .large-12
    %h3 Stats:
    %ul.inline-list
      %li Jobs -->
      %li 
        total:
        = @jobs.count
      %li
        problems:
        = @jobs.where(:attempts.gt => 0).count

    %ul.inline-list
      %li Event groups -->
      %li 
        fetch jobs:
        = @jobs.where(:queue => 'event_groups').count
      %li
        update jobs:
        = @jobs.where(:queue => 'event_groups_updates').count
      %li
        records:
        = EventGroup.all.count
        
    %ul.inline-list
      %li Events -->
      %li
        fetch jobs:
        = @jobs.where(:queue => 'events').count
      %li
        update jobs:
        = @jobs.where(:queue => 'events_updates').count
      %li
        records:
        = Event.all.count


.row
  .large-12
    %h3 Updates
    %ul.circle
      - @jobs.where(:queue => 'events_updates').each do |job|
        %li
          %small= "id: #{job._id}, created_at: #{job.created_at}, updated_at: #{job.updated_at}, priority: #{job.priority}, attempts: #{job.attempts}, queue: #{job.queue}, run_at: #{job.run_at}"
          %pre= job.last_error
      - @jobs.where(:queue => 'event_groups_updates').each do |job|
        %li
          %small= "id: #{job._id}, created_at: #{job.created_at}, updated_at: #{job.updated_at}, priority: #{job.priority}, attempts: #{job.attempts}, queue: #{job.queue}, run_at: #{job.run_at}"
          %pre= job.last_error

.row
  .large-12
    %h3 Problems
    %ul.circle
      - @jobs.where(:attempts.gt => 0).each do |job|
        %li
          %small= "id: #{job._id}, created_at: #{job.created_at}, updated_at: #{job.updated_at}, priority: #{job.priority}, attempts: #{job.attempts}, queue: #{job.queue}, run_at: #{job.run_at}"
          %pre= job.last_error