= form_for :q, url: request.path, method: :get do |f|
  .row
    .large-12
      = f.text_field :text, value: query_text
      = f.submit 'Go', class: 'button round small secondary'

.row#event-groups-list
  .large-12#container
    = render 'search/event_groups/units/event_groups_set', event_groups: @event_groups
  .large-12#spinner{style: 'display: none'}
    %center
      %img{src: '/assets/spinner.gif'}
    %hr

:coffeescript
  $ -> $("#event-groups-list").endlessPage
    query: "#{{q: params[:q]}.to_query if params[:q]}"
    request_path: "#{request.path}"