.breadcrumbs
  %ul
    %li
      %a{href: '#'} home
    %li
      %a{href: "/search?#{params.to_query}"} search results
    %li
      %a.current{href: '/search/event_groups'} artists

= render 'search/search_input'

#event-groups-list
  #container<>
    = render 'event_groups/units/event_groups_set', event_groups: @event_groups
  #spinner{style: 'display: none'}
    %img{src: '/assets/spinner.gif'}


:coffeescript
  $ -> $("#event-groups-list").endlessPage
    query: "#{{q: params[:q]}.to_query if params[:q]}"
    request_path: "#{request.path}"