= content_for :title, 'Townent Cities'

.row#city-promt
  .large-12.columns
    - detected_city = Country.find('uk').cities.sample
    %h2
      = "You're in #{detected_city.full_name}?"
      = raw '&nbsp&nbsp'
      %a.round.button.tiny{href: city_events_url(detected_city)} Yes
      %a.button.round.tiny#no-button{href: '#'} No
      
    %h3.subheader Nearby cities
    - City.near(detected_city.coordinates, 100).each do |city|
      %a.round.button.secondary.city{href: city_events_path(city)}= city.name

.row#city-selector{style: 'display: none'}
  .large-4.columns
    %h2 Chouse your city
  .large-8.columns
    %h3
      %input{id: 'search-input', type: :text, placeholder: 'Just start typing...'}

      
.row
  .large-12.columns
    - @countries.each do |country|
      .country{style: 'display: none'}
        %h3.subheader= country.name
        - country.cities.each do |city|
          %a.round.button.secondary.city{href: city_events_path(city)}= city.name



:javascript
  $(function(){
    $('#no-button').click(function(event){
      event.preventDefault();
      $('#city-promt').hide(); $('#city-selector').show();
    });
    
    $('#search-input').keyup(function(){
      if ($(this).val().length > 1){
        var expression = new RegExp('.*' + $(this).val() + '.*', 'i');
        
        $.each($('.country'), function(){
          var country = $(this);
          country.hide();
          
          $.each($('.city', country), function(){
            var city = $(this)
            
            if (expression.test(city.text())) {
              city.show(); country.show();
            } else {
              city.hide();
            }
          });
        });
      } else {
        $('.country').hide();
      }
    });
  });
  
      