= content_for :title, 'Townent Cities'

.row
  .large-12
    %h2 Chouse your city
    - @countries.each do |country|
      %h3.subheader= "#{country.name} (#{country.events.count})"
      - country.cities.each do |city|
        %a.round.small.button.secondary{href: city_path(city)}= "#{city.name} (#{city.events.count})"
        = raw '&nbsp'