.row
  .large-12.columns
    %ul.breadcrumbs
      %li
        %a{href: genre_url(@genre)}= @genre.sw_name
      %li.current
        %a{href: genre_category_url(@genre, @category)}= @category.sw_name

- @category.event_groups.each do |event_group|
  .row
    .large-4.columns
      %img{src: event_group.image_url}
    .large-8.columns
      %h3
        = event_group.sw_name
        %small
          %a{href: genre_category_event_group_url(@genre, @category, event_group)} show events
      %dl
        %dd= "Events: #{event_group.events.count}"
        %dd= "Tickets: #{event_group.sw_ticket_count}"
        %dd= "Price from: #{event_group.sw_min_price} #{event_group.sw_currency}"
        %dd= "Cities: " + event_group.events.collect(&:sw_town).uniq.join(', ')