// Cities selector
%br
.row#city-selector{style: 'display: none'}
  .large-3.columns
    %h4 Find your city
  .large-9.columns
    %h4
      %input{id: 'search-input', type: :text, placeholder: 'Just start typing...'}

%br
// Or chouse from nearbys
.row#nearby-cities{style: 'display: none'}
  .large-12.columns
    %h4 Or chouse from nearby cities
    - nearby_cities(request_coordinates, 10000).limit(15).each do |city| 
      %a.round.button.secondary.city{href: city_events_path(city)}= "#{city.name} (#{city.distance_to(request_coordinates).to_i}mi)"


// Cities list for filtering    
.row
  .large-12.columns
    - Country.all.each do |country|
      .country{style: 'display: none'}
        %h4.subheader= country.name
        - country.cities.each do |city|
          %a.round.button.secondary.city{href: city_events_path(city)}= city.name


:coffeescript
  $ ->
    $("#no-button").click (event) ->
      event.preventDefault()
      $("#city-promt, #index-breadcrumbs, #query-form, #events-list").hide()
      $("#city-selector, #nearby-cities").show()

    $("#yes-button").click (event) ->
      event.preventDefault()
      $("#city-promt").hide()

    $("#search-input").keyup ->
      if $(this).val().length > 1
        expression = new RegExp(".*" + $(this).val() + ".*", "i")
        $("#nearby-cities").hide()
        $.each $(".country"), ->
          country = $(this)
          country.hide()
          $.each $(".city", country), ->
            city = $(this)
            if expression.test(city.text())
              city.show()
              country.show()
            else
              city.hide()
      else
        $(".country").hide()
        $("#nearby-cities").show()

