.row
  .large-3.columns
    %img{src: event.event_group.sw_image_url}
  .large-6.columns
    .row
      .large-12.columns
        %h4
          = event.event_group.sw_name
          %br
          %small
            = event.venue.sw_name
    .row
      .large-5.columns
        %table.expand
          %thead
            %tr
              %th
                = event.sw_date.strftime('%-d %b %Y, %a')
          %tbody
            %tr
              %td
                %center
                  = event.sw_date.strftime('%I:%M %P')
      .large-7.columns
        %p
          %span.label.round= event.genre.sw_name
          %span.label.round= event.category.sw_name
  .large-3.columns
    %a.success.round.button.expand{href: event_path(event)} View tickets
    %center
      = event.sw_ticket_count
      tickets from
      = event.sw_min_price
      = event.sw_currency
%hr
