= form_for :q, url: request.path, method: :get, html: {class: 'menu buttons'} do |f|
  %ul
    %li
      %a{class: class_if('active', query_scope == 'all'), href: url_for(q: {scope: 'all'})} All dates
    %li
      %a{class: class_if('active', query_scope == 'weekend'), href: url_for(q: {scope: 'weekend'})} This weekend
    %li
      %a#dates-trigger{href: '#', class: class_if('active', query_scope == nil)} Pick dates
    %li
      %ul#dates-inputs{style: ('display: none' if query_scope != nil)}
        %li
          = f.label :date_from, 'From:'
          = f.text_field :date_from, class: 'datepicker', value: query_date_from
        %li
          = f.label :date_to, 'To:'
          = f.text_field :date_to, class: 'datepicker', value: query_date_to
        %li= f.submit 'Go'
  
  :coffeescript
    $ ->
      $("#dates-trigger").click (event) ->
        event.preventDefault()
        $(".datepicker").datepicker dateFormat: "d MM yy"
        $(".active", $(this).parents("ul")).removeClass "active"
        $(this).addClass "active"
        $("#dates-inputs").show()

  