%menu.buttons
  = form_for :q, url: request.path, method: :get do |f|
    %ul
      %li
        %a{class: class_if('active', query_scope == 'all'), href: url_for(q: {scope: 'all'})} All dates
      %li
        %a{class: class_if('active', query_scope == 'weekend'), href: url_for(q: {scope: 'weekend'})} Weekends
      %li
        %a#dates-trigger{href: '#', class: class_if('active', query_scope == nil)} Pick dates
      %li
        %ul#dates-inputs{style: ('display: none' if query_scope != nil)}
          %li
            = f.label :date_from, 'From:'
            = f.text_field :date_from, class: 'datepicker', value: query_date_from.strftime('%-d %B %Y')
          %li
            = f.label :date_to, 'To:'
            = f.text_field :date_to, class: 'datepicker', value: query_date_to.strftime('%-d %B %Y')
          %li= f.submit 'Go'
  
  :coffeescript
    $ ->
      $(".datepicker").datepicker
        dateFormat: "d MM yy"
        showAnim: 'slideDown'
        firstDay: 1
      $("#dates-trigger").click (event) ->
        event.preventDefault()
        $(".active", $(this).parents("ul")).removeClass "active"
        $(this).addClass "active"
        $("#dates-inputs").show()

  