!!! 5
%head
  %meta{ :charset => "utf-8" }
  %title= content_for?(:title) ? yield(:title) : "Untitled"
  = csrf_meta_tag
  = stylesheet_link_tag :application
  = javascript_include_tag :application
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDNIzwBp4cCrFqwk-mZ6OIRSMuvP_Uc22U&sensor=true"
  
%body
  %nav.top-bar<>
    %ul<>
      %li<>
        %h1
          %a{href: '/'}
            %img{src: '/assets/logo.png', alt: 'Gdebilet'}
      %li<>
        %img{src: '/assets/events.png', alt: 'Events'}
        %a{href: '/'}Events
      %li<>
        %img{src: '/assets/artists.png', alt: 'Artists'}
        %a{href: '/event_groups'}Artists
      %li.search<>
        = form_for :q, url: '/search', method: :get do |f|
          = f.text_field :text, placeholder: 'Search by artist, event or even more...'
        
  = yield

  %nav#footer
    %ul<>
      %li<>
        %h1
          %a{href: '#', onclick: '$(window).scrollTop(0)'}
            %img{src: '/assets/scroller.png', alt: 'Scroll top'}
      %li<>
        %img{src: '/assets/events.png', alt: 'Events'}
        %a{href: '#'}Events
      %li<>
        %img{src: '/assets/artists.png', alt: 'Artists'}
        %a{href: '#'}Artists
      %li<>
        %a{href: '#'}= image_tag 'social/vk.png'
        %a{href: '#'}= image_tag 'social/twitter.png'
        %a{href: '#'}= image_tag 'social/facebook.png'
        - if person_signed_in?
          = link_to 'Logout', destroy_person_session_path, method: :delete
          = link_to 'Categories', admin_categories_path
          = link_to 'Subcategories', admin_subcategories_path
    